<span ng-if="::!layertreeCtrl.isRoot">{{::layertreeCtrl.initialConfig.name}}</span>
<input type="checkbox" ng-if="::layertreeCtrl.initialConfig && !layertreeCtrl.initialConfig.children"
    ng-model="layertreeCtrl.getSetActive" ng-model-options="{getterSetter: true}"/>
<button ng-if="::layertreeCtrl.initialConfig && !layertreeCtrl.initialConfig.children"
        ng-click="ctrl.onButtonClick(layertreeCtrl.initialConfig, layertreeCtrl.layer)">i</button>
<ul ng-if="::layertreeCtrl.initialConfig.children">
  <li ng-repeat="node in ::layertreeCtrl.initialConfig.children"
      ngeo-layertree="::node"
      ngeo-layertree-templateurl="partials/layertree.html"
      ngeo-layertree-notroot
      ngeo-layertree-map="layertreeCtrl.map"
      ngeo-layertree-nodelayerexpr="layertreeCtrl.nodelayerExpr">
  </li>
</ul>
